Packwiz/26.1.2/** text=auto eol=lf
Packwiz/26.2/** text=auto eol=lf
CurseForge/26.1.2/** text=auto eol=lf
CurseForge/26.2/** text=auto eol=lf
Packwiz/26.3/** text=auto eol=lf
CurseForge/26.3/** text=auto eol=lf
