*.exe
*.jar

mods/
**/mods/
**/overrides/mods/

resourcepacks/
**/resourcepacks/
server-resource-packs/
**/server-resource-packs/
shaderpacks/
**/shaderpacks/

logs/
**/logs/
crash-reports/
**/crash-reports/
saves/
**/saves/
screenshots/
**/screenshots/
libraries/
**/libraries/
downloads/
**/downloads/

config/*
**/overrides/config/*

!config/modpack_defaults/
!config/modpack_defaults/**
!**/overrides/config/modpack_defaults/
!**/overrides/config/modpack_defaults/**
